<% @chakra_name = @goddess.chakra.name.downcase %>
<div class="panel">
	<div class='item'>
		<h2><%= h "#{@goddess.name.capitalize} :: #{@goddess.tag}" %></h2>
		<p><%= h @goddess.description %></p>
	</div>
	<div class='item'>
		<h3>Modern Energy</h3>
		<p><%= h @goddess.modern_energy %></p>
	</div>
	<div class='item'>
		<h3>Do This</h3>
		<p><%= h @goddess.do_this %></p>
	</div>
</div>