/** 
IE Styles - fixes for IE's crappiness.
2009-01-21:Created by Lachlan.
**/
.header .brand .name a{padding-left:35px;background:transparent url(../images/logo_30x18.gif) no-repeat top left;zoom:1;}
.return-journey{background:transparent url(../images/return_journey_16x16.gif) no-repeat top center;}
.add-favourite{background:transparent url(../images/add_favourite_16x16.gif) no-repeat top center;}
.remove-favourite{background:transparent url(../images/remove_favourite_16x16.gif) no-repeat top center;}
.content .list > li > *,
.button{zoom:1;}
.content .list > li h1,
.content .list > li h2,
.content .list > li h3,
.content .list > li h4,
.content .list > li h5,
.content .list > li h6{font-weight:bold;}
.content dl.panel dd.item {padding:0.58823em;margin:0;}
.container{display:none;}
