<div class='panel'>
	<div class='item'>
		<h2 class='title'>About</h2>
		<p><%= h ABOUT_BLURB %></p>
	</div>
	<div class='item'>
		<h2 class='title'>Credits</h2>
		<p>Design and development by Kevin Read.</p>
	</div>
</div>