<div class='panel'>
	<div class='item'>
		<h2 class='title'>About</h2>
		<p>The Chakra Goddess Oracle is based on the book by Anita Ryan-Revel, <a href="http://www.amazon.com/gp/product/0975745174/103-5715600-2863024?ie=UTF8&tag=innergoddess&linkCode=xm2&camp=1789&creativeASIN=0975745174" title="The Goddess Guide to Chakra Vitality" >The Goddess Guide to Chakra Vitality</a>.</p>
	  	<p>The oracle uses the power of your intuition to reveal answers or insights that deep down, you knew all along. It features 49 ancient goddesses from various cultures, and presents their stories as lessons for the modern woman. The lessons are entwined with chakra energy to help you further understand the issues afoot.</p>
		<p>For more information about chakras, enrol in the free 7-Day Chakra Workout e-course at <a href="http://chakragoddess.com" >ChakraGoddess.com</a>. For weekly insights about ancient goddesses and modern women, sign up for Anita's free newsletter at <a href="http://www.goddess.com.au/Subscribe.htm" >Goddess.com.au</a>.</p>
	</div>
	<div class='item'>
		<h2 class='title'>Credits</h2>
		<p>Design and development by Kevin Read and Lachlan Dowding.</p>
	</div>
</div>