<h2 class='panel'><%= link_to 'Which Goddess Energy is With You Now?', {:action => 'select'}, :class => 'item' %></h2>
<p class='small'>This online oracle has been optimised for the iPhone.</p>
<p class='small'>Complete this simple exercise to determine which ancient goddess energy is inspiring you today.</p>
<p class='small'>By being conscious of that energy, you will be able to harness it more effectively in order to attain your highest ideals when dealing with those around you.</p>
<h2 class='panel'><%= link_to 'About',{:action => 'about'}, :class => 'item' %></h2>
