<h1>Which Goddess Energy is With You Now?</h1>
<p>Take a minute to complete this simple exercise to determine which ancient goddess energy is inspiring you today. By being conscious of that energy, you will be able to harness it more effectively in order to attain your highest ideals when dealing with those around you.<p>
<h2 class='panel'>
	<%- link_to({:action => 'select'}, :class => 'item') do -%>
		<span class='title'>Take the Test</span><br />
		<span>Choose a journey then add it as a favourite.</span>
	<%- end -%>
</h2>
<h2 class='panel'><%= link_to 'About',{:action => 'about'}, :class => 'item' -%></h2>