<p class='small'>Remove yourself from distractions while you look at each of the pictures below. Take all the time you need to work out which particular colour/butterfly ‘speaks’ to you the loudest.</p>
<p class='small'>Press that butterfly firmly until it clicks through to the next page to read about which goddess energy is working with you at this moment.</p>
<div id="canvas">
<% for chakra in @chakras %>
	<% link_to({:action => 'show', :chakra => chakra.name}, :class => 'move shape hide') do %>
		<img src="<%= "/images/#{h chakra.colour}_butterfly.gif" %>" alt="<%= h chakra.name %>" />
	<% end %>
<% end %>
</div>