<h1><%= @chakra.name %></h1>
<p>
<%= @chakra.description %>	
</p>
<p>
<%= @chakra.question %>	
</p>
<p>
<% for g in @chakra.goddesses %>
	<% link_to(:controller => 'goddesses', :action => 'show', :goddess => g.name) do %>
		<%= g.number %>
	<% end %>
	<br />
<% end %>
</p>